<p><div class="Bigdiv2"><a href="/muffins">
    <div class="smalldiv2">
      <h2>"Muffins"</h2>
    </div></a>
    <a href="/cakes">
    <div class="smalldiv2">
      <h2>"Cakes"</h2>
    </div></a>
    <a href="/cookies">
    <div class="smalldiv2">
      <h2>"Cookies"</h2>
    </div></a>
  </div>
</p>
