<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Pacifico">
    <link rel="stylesheet" href="/main.css">
    <title>Friendly Bakery</title>
  </head>
  <body>
    <div class="navbar">
    <a href="/">Home</a>
    <a href="#contact">Contact</a>
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="/cakes">Cakes</a>
        <a href="/muffins">Muffins</a>
        <a href="/cookies">Cookies</a>
      </div>
    </div>
    <center><h1>Friendly Bakery</h1></center>
  </div>
  <div class="result">
    <%= yield %>
  </div>
  <footer class = "footer" id = "contact">
    <ul>
      <li><img src="images/facebook.jpeg" alt="FaceBook"></li>
      <li><img src="images/instagram.png" alt="Instagram"></li>
      <li><img src="images/twiter.png" alt="Twitter"></li>
    </ul>


  </footer>
    <script src="main.js" type="text/javascript">
    </script>
  </body>
</html>
